@media (min-width: 992px) {
	.section__title {
		font-size: 4rem;
	}
	.header {
		height: 450px;
		&__text {
			font-size: 3.2rem;
			margin-bottom: -0.4em;
		}
		&__title {
			font-size: 4.5rem;
		}
	}
	.about {
		&__text {
			font-size: 1.8rem;
		}
	}

	.container {
		&__text {
			padding: 0.6em 3.5em;
			font-size: 3.6rem;
		}
	}
	.offert {
		&__card-box {
			display: flex;
			justify-content: center;
			flex-wrap: nowrap;
		}
		&__card {
			max-width: 33%;
			margin: 2em;

			&-button {
				&-2 {
					
					right: 0%;
				}
			}
		}
	}
	// info
	.info {
		padding: 0.2em 0.2em;
		margin-top: 3em;
		background-color: $silver;
		display: flex;
		justify-content: center;

		&__container {
			display: flex;
			
			padding: 2em 3.25em ;
		}
		&__box-logo {
			padding-left: .1em;
			display: inline-block;
			transform: translateY(1.25em);
			
		}

		&__logo-svg {
			height: 5.8rem;
			width: 6.3rem;
			transform: translateY(.35em);
		}

		&__name {
			margin-left: -.05em;
			font-size: 6rem;
		}

		
		&__box {
			
			&-title {
				text-align: left;
				font-weight: bold;
				font-size: 2.4rem;
				padding: 1em 0 0.5em;
				grid-column: 1/4;

				&-3 {
					margin-bottom: 0;
				}
			}
			&-item {
				padding: 0.6em 0;
			}
		}
	}
}
@media (min-width: 1200px) {
	.wrapper {
		max-width: 120rem;
	}

	.info {
		&__box-logo {
			padding-left: 0em;
			display: inline-block;
		}

		&__box {
			&:nth-child(3){
				// background-color: red;
				transform: translateX(40%);
			}
		}
	}
}
