@media (min-width: 576px) {
	.section__title {
		font-size: 3rem;
	}
	.header {
		&__text {
			font-size: 2.2rem;
		}
		&__title {
			font-size: 2.6rem;
		}
	}
		.container {
			&__text {
				
				font-size: 2.5rem;
				
			}
		}

	.offert {
		padding: 0 5em;

		
	}
	
}
