@media (min-width: 576px) {
	.section__title {
		font-size: 3rem;
	}
	.header {
		&__text {
			font-size: 3rem;
		}
		&__title {
			font-size: 3.3rem;
		}
	}
	.container {
		&__text {
			font-size: 2.5rem;
		}
	}

	.offert {
		padding: 0 2em;

		&__card-box {
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
		}
		&__card {
			width: 43%;
			margin: 1em;
			padding: 0 1em;
		}

		&__subtitle {
			font-size: 2.2rem;
		}
	}
}
